.fatoripay_bank_slip_pay_div{
  padding-top: 20px;
}

.fatoripay_bank_slip_line_input{
  width: 74%;
}

.fatoripay_bank_slip_line_button{
  width: 25%;
}

@media screen and (max-width: 500px) {

  .fatoripay_bank_slip_barcode {
    display: none;
  }

  .fatoripay_bank_slip_line_input{
    width: 100%;
  }

  .fatoripay_bank_slip_line_button{
    width: 100%;
  }

  .fatoripay_bank_slip_pay_button{
    width: 100%;
  }

}